.Home{
  height: 100vh;
  background: rgb(221,221,221);
background: linear-gradient(142deg, rgba(221,221,221,0.19791666666666663) 0%, rgba(255,255,255,1) 58%, rgba(203,203,203,1) 100%);
}
.card-footer{
    border-top:0 !important;
}
/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    box-shadow: 4px 4px 23px -1px rgba(0,0,0,0.34);

  }
  .as-text {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.as-text:hover{
  color: rgba(0, 115, 255, 0.899);
}
